#lineString {
  padding: 0px 0px 0px 10px; 
  border: none;  
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  margin-top: 18px;
  font-size: 20px;
}

#lineString:focus {
  border-bottom: solid 2px #969696;
}

#header {
  background-color: blue;
}

#second {
  height: 30px;
  background-color: yellow;
}

#third {
  height: 100px;
  background-color: green;
}