#lineString {
  padding: 0px 0px 0px 10px; 
  border: none;  
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  margin-top: 18px;
  font-size: 20px;
}

#lineString:focus {
  border-bottom: solid 2px #969696;
}

#third {
  text-align: center;
  font-size: 7em;
}

#brandImg {
  height: 10em;
}

#fourth {
  text-align: center;
  font-size: 2em;
  color: whitesmoke;
  margin-top: 2%;
  text-shadow: black 0.1em 0.1em 0.2em;    
}

#underHeaderClean {
  height: 3em;
}

#underButtonsClean {
  height: 6em;
}

#ninth {
  margin-left: 8em
}

#seventh {
  margin-left: 45em
}












